# ----- Mail -----

# === YANDEX ===
mail_service = 'imap.yandex.ru'
login = 'Your email login'
password = 'Your email password'


# === GMAIL ===
mail_service_gmail = 'imap.gmail.com'
login_gmail = 'Your email login'
password_gmail = 'Your email password'


# DATABASES

# ----- Postgres -----
user_login = 'User login'
user_pass = 'User password'